[btc]
# URL to bitcoind RPC server, format: `<proto>://<username>:<password>@<hostname>:<port>`
#url = "http://john:mypassword@localhost:8332"


[electrum]
# Electrum server URL in a format `host:port:protocol`
url = "electrum.example.com:50001:t"


[mempool]
# Mempool server URL - API endpoint
api_url = "https://mempool.space/api"


[node]
service_bitcoin = "bitcoind"
service_ln = "lnd"
service_electrum = "electrs"
